  @keyframes moveUp {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(25%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .top-arrow {
    position: fixed;
    bottom: 70px;
    left:40px;
    animation: moveUp 2s infinite;
    font-size: 10px;
    color: var(--black);
    cursor: pointer;
  }
