@keyframes moveDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0%);
  }
}

.bottom-arrow-container{
  animation: moveDown 2s infinite;
  position: fixed;
  bottom: 40px;
  left:20px;
  font-weight: 600;
}

.bottom-arrow {
  font-size: 24px;
  color: var(--pointcolor);
  cursor: pointer;
}

.bottom-arrow-text{
  font-size: 10px;
  color: var(--pointcolor);
}