.scroll-to-bottom-button {
  position: fixed;
  bottom: 50px;
  width: 100%;
  max-width: 500px;
  animation: moveDown 2s infinite;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes moveDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(70%);
  }
}

.bottom-arrow {
  color: var(--vivamagenta);
  font-size: 30px;
}
