@keyframes popupSlideIn {
    0% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0); 
    }
  }
  
  .popup-container {
    position: fixed;
    top: 90px;
    right: 10px; 
    transform: translateX(-50%);
    background-color: var(--pleinair);
    padding: 12px;
    width: 320px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid 1px var(--steelblue);
    animation: popupSlideIn 0.6s forwards; 
  }

  .special-position {
    top: 10px;
    right: 10px;
    width: 250px;
  }
  
  .popup-close {
    display: flex;
    justify-content: flex-end; /* Align the icon to the right */
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 15px;
    color: var(--steelblue);
    opacity: 0.7;
  }
  
  .popup-text {
    font-weight: 600;
    font-size: 13px;
  }
  
  .popheart {
    color: var(--pointcolor);
  }

  .google-form{
    font-size: 13px;
    font-weight: 600;
  }
  .click-here{
    cursor: pointer;
    text-decoration: underline;
    color: var(--pointcolor);
  }