.detail .detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    line-height: 64px;
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: var(--background);
  }

  .detail .detail-header .back{
    text-align: left;
    font-size:30px;
    color: var(--paledogwood);
  }

  .detail .detail-header .close{
    text-align: right;
    font-size:30px;
    color: var(--paledogwood);
  }

  .detail .detail-content {
    text-align: center;
    width:100%;
    background-color: var(--background);
    padding: 10px;
  }


  .detail .detail-content .codi{
    border-radius: 10px;
    width: 75%;
    margin: 10px;
    border: solid 4px var(--subcolor);
  }

  .detail .detail-content .options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    padding-inline: 30px;
    line-height: 64px;
  }

  .detail .detail-content .musinsa{
    width:30px;
    margin-right:15px;
    cursor: pointer;
  }

  .detail .detail-content .share{
    font-size:30px;
    margin-right:15px;
  }

  .detail .detail-content .heart{
    display:flex;
    font-size:35px;
    margin-top: 10px;
    color:var(--pointcolor);
  }

  .detail .detail-footer {
      background-color: var(--paledogwood);
      border-radius: 12px;
      padding:30px;
  }

  .detail .similar{
    display: flex;
    justify-content: center;
    width:100%;
  }

  .detail .detail-footer .description{
    font-family: 'Noto Serif KR', serif;
    font-weight: 600;
    text-align: left;
    color:var(--pointcolor);
  }

  .detail .similar img {
    min-width: 80px;
    max-width:150px;
    width: 100%;
    height:100%;
    border-radius: 10px;
    cursor: pointer;
    border: solid 2px var(--pointcolor);
  }