.detail .detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    line-height: 64px;
    padding: 40px;
    padding-top: 55px;
    padding-bottom: 35px;
    background-color: var(--background);
    /* border-bottom: dashed 3px var(--graylilac); */
  }

  .detail .detail-header .back{
    text-align: left;
    margin-left:15px;
    font-size:40px;
    color: var(--paledogwood);
  }

  .detail .detail-header .close{
    text-align: right;
    margin-right:15px;
    font-size:40px;
    color: var(--paledogwood);
  }

  .detail .detail-content {
    text-align: center;
    width:100%;
    background-color: var(--background);
    padding: 10px;
  }


  .detail .detail-content .codi{
    border-radius: 10px;
    width:85%;
    margin: 10px;
    border: double 4px var(--graylilac);
  }

  .detail .detail-content .options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding-inline: 60px;
    line-height: 64px;
  }

  .detail .detail-content .musinsa{
    width:40px;
    margin-right:15px;
    cursor: pointer;
  }

  .detail .detail-content .share{
    font-size:40px;
    margin-right:15px;
  }

  .detail .detail-content .heart{
    display:flex;
    font-size:40px;
    color:var(--vivamagenta);
  }

  .detail .detail-footer {
      background-color: var(--paledogwood);
  }

  .detail .similar{
    display: flex;
    justify-content: center;
    width:100%;
  }

  .detail .detail-footer .description{
    font-family: 'Noto Serif KR', serif;
    font-weight: 600;
    text-align: left;
    color:var(--vivamagenta);
  }

  .detail .similar img {
    width: 100%;
    height:100%;
    border-radius: 10px;
    cursor: pointer;
  }