@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&display=swap');

.global-container {
    font-family: 'Noto Serif KR', serif;
    min-width: 320px;
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto; /* for global centering */
    background-color: var(--background);
}

.header {
  position: fixed;
  top: 0px;;
  width: 100%;
  max-width: 500px;
  height:83px;
  background-color: var(--paledogwood);
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-bottom:3px solid var(--lilacgray);
  opacity: 0.9;
}

.header .wrapper .options{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0px;
    line-height: 64px;
    margin:10px;
    margin-top:20px;
  }

  .header .wrapper .user-name{
    text-align: left;
    padding: 15px;
    margin-right: auto;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    color:var(--steelblue);
  }

  .header .wrapper .login{
    text-align: right;
    opacity: 1;
    margin-right:35px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    font-style: italic;
    color:var(--vivamagenta)
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    overflow: hidden;
  }
