.toggle_wrapper {
    display: flex;
    width: 100%;
  }

  .route-btn {
    width: 100%;
    height:35px;
    border: solid 2px var(--pointcolor);
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    margin:10px;
    color:var(--pointcolor);
    font-size:16px;
    cursor: pointer;
  }
  .route-btn-journey {
    background-color: var(--headerbackground);
    color:var(--pointcolor);
  }

  .route-btn-collection{
    background-color: var(--headerbackground);
    color:var(--pointcolor);
  }

  .route-btn.active {
    background-color: var(--pointcolor);
    color: var(--background);
  }
